@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 10px;
    padding: 10px;
    background-color: #a2d2ff;
    border-radius: 30px;
    border: 1px solid black;
    font-weight: 500;
}

.btn:hover{
    box-shadow: 1px 1px 2px;
}

.buttonSpace{
    text-align: center;
}